.comment {
  padding: 5px 15px;
}
.comment_top form {
  display: flex;
}
.comment_top .MuiAvatar-root {
  height: 32px;
  width: 32px;
}
.comment_top form input {
  outline: none;
  border: none;
  margin: 0 5px;
  padding: 8px 12px;
  padding-left: 6px;
  background-color: #f0f2f5;
  border-radius: 15px;
  width: 100%;
}
.comment_body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.comment_mini {
  margin: 4px 0;
  display: flex;
}
.comment_mini-top .MuiAvatar-root {
  height: 32px;
  width: 32px;
}
.comment_mini-body {
  padding: 7px 12px;
  border-radius: 15px;
  background-color: #f0f2f5;
}
