.post {
  width: 500px;
  background-color: #fff;
  border-radius: 7px;
  margin-bottom: 15px;
}
.post_top {
  display: flex;
  align-items: flex-end;
  padding: 5px 15px;
}
.post_top .MuiAvatar-root {
  margin: 0 5px !important;
}
.post_top p {
  font-size: 0.8rem;
}
.post_body p {
  padding: 0 20px;
  margin-bottom: 10px;
}

.post_body img {
  width: 500px;
}
.post hr {
  border: none;
  border-top: 1px solid #ced0d4;
  margin: 2px 15px;
}
.post_activity {
  display: flex;
  justify-content: space-between;
  padding: 7px;
}
.post_reaction {
  padding: 0 10px;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
}

.post_reaction p {
  margin-left: 5px;
}
/* .post_activity-comments {
  cursor: pointer;
} */
.post_bottom {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
}
.post_like,
.post_comment {
  display: flex;
  color: #606770;
  padding: 5px;
  justify-content: center;
  align-items: center;
  flex: 1;
  cursor: pointer;
}
.post_comment:hover,
.post_like:hover {
  background-color: #eee;
}
.post_like p,
.post_comment p {
  margin: 0 5px;
}

.post_like {
  position: relative;
}
.post_reaction-tab {
  position: absolute;
  top: 25%;
  left: -10px;
  display: none;
  border-radius: 22px;
  background-color: #fff;
  transition: 200ms;
  opacity: 0;
  z-index: -100;
}
.post_reaction-tab > div {
  margin: 5px;
  transition: 100ms;
}
.post_reaction-tab > div:hover {
  transform: scale(1.3);
}
.post_reaction-tab-active {
  display: flex;
  z-index: 10;
  top: -125%;
  opacity: 1;
}
